#mcts1 
{
    width:700px;
    height:86px;
    margin: 0 auto;
    padding:20px 20px;
    border:1px solid #dedcb4;
    background:#f2f1ea url(loading.gif) no-repeat 50% 50%;
    box-shadow: 0px 1px 11px #CCCCCC;
    
    /* Do not alter the below settings*/
    white-space:nowrap;
    position:relative;
    font-size:0px;
}

#mcts1>* {display:none;}
  
/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item 
{
    padding:2px;
    margin-right:6px; /* this specifies the distance between each thumbnail */
    background-color:White;
    border:1px solid #ddd;
    text-align:center;
    position:relative;
}

#mcts1 img 
{
    border:thin;
}


